.login-wrapper {
  display: flex;
}

.login-left-wrapper, .login-right-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.background {
  height: 100%;
  width: 100%;
}

.logo {
  height: 15%;
  left: 37.5%;
  position: absolute;
  top: calc(50% - 66.5px);
  width: 25%;
}

.gradient {
  background-color: #C3ADF6;
  border-radius: 50%;
  filter: blur(80px);
  height: 150%;
  left: 7%;
  position: absolute;
  top: -25%;
  width: 350%;
  z-index: -1;
}

.login-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right-inner-wrapper {
  height: 55%;
  margin-left: 5%;
}

.login-h1 {
  font-family: Roboto700;
  font-size: 61px;
  line-height: 73.2px;
}

.login-p {
  font-family: Roboto400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

.login-a {
  color: #267dd7;
}

.login-btns-wrapper {
  display: flex;
  flex-direction: column;
  height: 182px;
  justify-content: space-between;
  margin-top: 61px;
}


.login-btn {
  align-items: center;
  background: radial-gradient(100% 249.45% at 0% 2.78%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 23px;
  display: flex;
  height: 83px;
  padding-left: 73px;
  width: 338px;
}

.login-btn:hover {
  cursor: pointer;
}

.login-btn:active {
  opacity: 0.5;
}

.login-btn-text {
  font-family: Roboto700;
  font-size: 15px;
  line-height: 18px;
  margin-left: 36px;
}




/* TIMELINE SCREEN */

.timeline-wrapper {
  background-color: #E5E5E5;
  height: 100%;
  height: 200vh;
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: 100%;
}

.timeline-inner-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeline-gradient-left {
  background: rgba(248, 206, 236, 0.98);
  filter: blur(200px);
  height: 100vw;
  left: -30%;
  position: absolute;
  top: -370px;
  width: 1106px;
  z-index: 1;
}

.timeline-gradient-right {
  background: rgba(195, 173, 246, 0.98);
  filter: blur(200px);
  height: 100vw;
  left: 65%;
  position: absolute;
  top: -98px;
  width: 906px;
  z-index: 1;
}

.timeline-left, .timeline-right, .network-wrapper {
  z-index: 2;
}

.timeline-left {
  align-items: center;
  background: rgba(255,255,255,0.3);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  height: 385px;
  width: 22%;
  max-width: 323px;
}

.timeline-right {
  align-items: center;
  background: rgba(255,255,255,0.3);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  height: 135px;
  max-width: 323px;
  width: 22%;
}

.logout {
  height: 210px;
}

.timeline-left-inner {
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 10%, rgba(248, 206, 236, 0.4) 87%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92%;
  padding: 0 14px 0 14px;
  max-width: 262px;
  width: 80%;
}

.timeline-right-inner {
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 10%, rgba(195, 173, 246, 0.4) 87%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  max-width: 291px;
  padding: 0 14px 0 14px;
  width: 80%;
}

.logout-inner {
  height: 87%;
  justify-content: flex-start;
}

.logo-blue {
  height: 37px;
  margin-top: 23px;
  width: 51px;
}

.btn {
  border: unset;
  border-radius: 15px;
  font-family: Roboto500;
  font-size: 20px;
  height: 49px;
  letter-spacing: -0.015em;
  margin: 27px 0;
}

.btn-big {
  height: 49px;
  max-width: 263px;
  width: 100%;
}

.btn-blue {
  background-color: #3672E9;
  box-shadow: 0px 20px 50px rgba(54, 114, 233, 0.41);
  color: #FFFFFF;
}

.btn-white {
  background-color: #F7F8FF;
  color: #38414D;
  font-family: Roboto500;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  opacity: 0.5;
}

.logout-btn, .user-btn {
  margin: unset;
  margin-top: 30px;
}

.network-wrapper {
  align-items: center;
  background: rgba(255,255,255,0.3);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  height: 296px;
  max-width: 717px;
  width: 53%;
}

.network-inner-wrapper {
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0.3) 60%, rgba(195, 173, 246, 0.2) 95%);
  backdrop-filter: blur(22px);
  border-radius: 25px;
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
}

.network-title{
  color: #38414D;
  font-family: Roboto500;
  font-size: 16px;
  letter-spacing: -0.015em;
  margin: 0 10%;
  text-align: center;
}

.network-subtitle{
  color: #38414D;
  font-family: Roboto400;
  font-size: 13px;
  letter-spacing: -0.015em;
  margin: 0 10%;
  text-align: center;
}

.main-wrapper {
  align-items: center;
  background: rgba(255,255,255,0.3);
  border-radius: 35px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 13px;
  /* padding-bottom: 16px; */
  z-index: 2;
}

.main-inner-wrapper {
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0.3) 5%, rgba(255,255,255,0.6) 60%, rgba(195, 173, 246, 0.2) 95%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 95%;
  padding-bottom: 32px;
  width: 96%;
}

.search {
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 5%, rgba(255,255,255,0.2) 60%, rgba(195, 173, 246, 0.1) 85%, rgba(195, 173, 246, 0.3) 95%);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 19px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 59px;
  margin-top: 18px;
  width: 96%;
}

.search-input, .your-vibe-input {
  background-color: transparent;
  border: unset;
  flex: 1;
  padding: 21px 19px;
  font-family: Roboto400;
  font-size: 16px;
  line-height: 16px;
}

.search-icon {
  margin-right: 25px;
}
.search-icon:hover {
  cursor: pointer;
}

.search-input:focus, .your-vibe-input:focus {
  outline: none;
}

.main-heading {
  font-family: Roboto500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 23px;
  width: 96%;
}

.your-vibe {
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 5%, rgba(255,255,255,0.2) 60%, rgba(195, 173, 246, 0.1) 85%, rgba(195, 173, 246, 0.3) 95%);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 19px;
  display: flex;
  height: 105px;
  justify-content: space-between;
  margin-bottom: 59px;
  width: 96%;
}

.your-vibe-input-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  height: 32px;
  margin: 16px;
}

.your-vibe-user-avatar {
  margin-right: 7px;
  width: 32px;
}

.your-vibe-input {
  padding: unset;
}

.post-btn {
  margin: 46px 6px 10px 0;
  width: 153px;
}

.card {
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 5%, rgba(255,255,255,0.2) 60%, rgba(195, 173, 246, 0.1) 85%, rgba(195, 173, 246, 0.3) 95%);
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 18px 16px;
  width: 91%;
}

.card-top {
  display: flex;
}

.avatar-wrapper {
  height: 65px;
  margin-right: 15px;
  width:65px;
}

.card-center {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 7px;
  max-width: 82%;
}

.card-top-center {
  margin-bottom: 12px;
}

.card-owner, .card-relative-time, .interpunct {
  font-family: Roboto700;
  font-size: 15px;
  line-height: 17.6px;
}

.card-owner {
  margin-right: 4px;
}

.card-relative-time {
  margin-left: 4px;
}

.card-content {
  font-family: Roboto500;
  font-size: 16px;
  line-height: 16px;
}

.more:hover {
  cursor: pointer;
}

.card-bottom {
  display: flex;
  margin-left: 81px;
  margin-top: 10px;
}

.eth, .second {
  display: flex;
}

.eth {
  margin-right: 74px;
}

.eth > img, .second >img {
  margin-right: 10px;
}

.amount, .amount-red {
  font-family: Roboto500;
  font-size: 13px;
  line-height: 15px;
  color: #5B7083;
}

.amount-red {
  color: #C73333;

}